# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradle/wrapper/*
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!wrk/*

# ...even if they are in subdirectories
!*/
